body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





h1 {
    text-align: center;
}

.button-container {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.rates-container {
    margin: 0 10px;
}

.button {
    margin-left: 10px;
}

/* .table-area {
    width: 80%;
    min-height: 600px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* try grid for table area*/
.analysis-container {
    width: 50%;
    min-height: 600px;
    text-align: center;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.table-container {
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute;
    animation: drop 0.5s ease forwards;
    /* top: 15px; */
    top: -400px;
    right: 15px;
    /* min-height: 150px;
    min-width: 200px; */
    height: 200px;
    width: 250px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* display: flex; */
    /* display: flex; */
    /* this was copy paste */
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@keyframes drop{
    0%{}
    70%{ transform: translateY(425px);}
    100%{transform: translateY(415px);}
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.close:hover {
    color: white;
    cursor: pointer;
}

.header {
    background-color: red;
    height: 1.7rem;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 7px;
}

.popup-title {
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
}

.popup-message {
    padding: 0 10px;
}